<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/index.styles.css" />
    <title>Keto-Council</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <header>
      <nav>
        <h1 class="title">Keto-Council</h1>
        <ul class="nav-list">
          <!-- <li class="nav-item">Home</li>
          <li class="nav-item">About Us</li>
          <li class="nav-item">Contact Info</li>
        </ul> -->
      </nav>
    </header>
    <main>
      <section class="entry-content">
        <h3 class="entry-title">
          Keto Dumplings
        </h3>
        <img
          src="../static/assets/entries/dumplings.jpeg"
          alt="Keto Dumplings"
          class="entry-img"
        />
        <p class="entry-description">
          Bellingham is where we we both went to college. While we attended
          Western Washington University (WWU) at different times, there was one
          constant… Late night dumplings. Yes, Palminis was the spot to be after
          a few beers and bacon at soul night. As you walked in the steamy hole
          in the wall, the smell of Russian dumplings brought you back to home,
          that is until someone in line yelled at you to shut the door.
          <br />
          <br />
          These KETO Dumplings are without a doubt a great substitute for anyone
          who is missing that warm, juicy snack before bed. I brought together a
          few different recipes to create this dish. This was also the first
          time I tried out the
          <a target="_blank" href="https://www.gnom-gnom.com/keto-dough/"
            >Crazy Dough from Gnom-Gnom.</a
          >
           I found it a snap to bring together and the outcome is awesome! It
          took about 30 minutes to bring this dish together, and had some major
          wife approval.
          <br />
          <br />
        </p>
        <img
        src="../static/assets/entries/dumpling_bw.JPG"
        alt="Keto Dumplings"
        class="entry-img"
      />
        <div class="table-container">
          <h2 class='direction-title'>Ingredients</h2>
        <table>
          <th class="table-title" colspan="2">Dough</th>

          <tr>
            <th>Amount</th>
            <th>Ingredient</th>
          </tr>

          <tr>
            <td>Almond Flour</td>
            <td>96g</td>
          </tr>
          <tr>
            <td>Coconut Flour</td>
            <td>24g</td>
          </tr>
          <tr>
            <td>Xnathum Gum</td>
            <td>2 tsp</td>
          </tr>
          <tr>
            <td>Baking Powder</td>
            <td>1 tsp</td>
          </tr>
          <tr>
            <td>Kosher Salt</td>
            <td>1/4 tsp</td>
          </tr>
        </table>
        <table>
          <th class="table-title" colspan="2">Filling</th>

          <tr>
            <th>Amount</th>
            <th>Ingredient</th>
          </tr>

          <tr>
            <td>Ground Beef</td>
            <td>4oz</td>
          </tr>

          <tr>
            <td>Ground Pork</td>
            <td>4oz</td>
          </tr>
          <tr>
            <td>Onion</td>
            <td>1 large</td>
          </tr>
          <tr>
            <td>Garlic</td>
            <td>4 cloves</td>
          </tr>
          <tr>
            <td>Kosher Salt / Pepper</td>
            <td>1 tsp (or to taste)</td>
          </tr>
        </table>
      </div>

        <div class="instructions">
          <h2 class='direction-title'>Directions</h2>
          <h3 class="step-title">The Dough</h3>
          <ol class="step-list">
            <li class="step-item">
              Bring together the dry ingredients into a food processor. Pulse
              until combined.
            </li>
            <li class="step-item">
              Add the egg, vinegar continue to pulse.
            </li>
            <li class="step-item">
              The dough will start to come together. If it seems too dry, slowly
              add water until the consistency of the dough can come together.
            </li>
            <li class="step-item">
              Take out the dough and wrap it up in plastic wrap.
            </li>
            <li class="step-item">
              Kneed the dough for a few minutes, it should really feel like
              pizza dough at the point.
            </li>
            <li class="step-item">
              Put in fridge for at least 15 minutes.
            </li>
          </ol>
          <h3 class="step-title">The Filling</h3>
          <ol class="step-list">
            <li class="step-item">
              Into a bowl, combine equal parts ground beef and pork. I used
              about 4oz each.
            </li>
            <li class="step-item">
              Finely great a large onion into the bowl.
            </li>
            <li class="step-item">
              Respect all the granny's that grated onions.
            </li>
            <li class="step-item">
              Add salt, pepper, and cayenne.
            </li>
          </ol>
          <h3 class="step-title">The Cook</h3>
          <ol class="step-list">
            <li class="step-item">
              Measure out about 10g of dough per dumpling.
            </li>
            <li class="step-item">
              Roll into ball and place between parchment paper. Roll out the
              dough into circles about 4 inches in diameter. This is a labor of
              love grab someone to help you.
            </li>
            <li class="step-item">
              Place about a teaspoon of filling into the dough. Be sure not to
              add too much or you will not be able to crimp the ends.
            </li>
            <li class="step-item">
              Crimp the ends together. I started off making them look awesome,
              but quickly found that simply closing them up led to us eating
              dumplings quicker. If you want to check out someone who is great
              at crimping dumplings
              <a target="_blank" href="https://www.youtube.com/watch?v=84-QPpmIleA"
                >check out this video.</a
              >
            </li>
            <li class="step-item">
              Once you have about 8 dumplings prepared, place them into a heated
              (med-high) buttered 12 in pan. Fry on all sides until golden.
            </li>
            <li class="step-item">
              Put about 4 tbs of water into the pan, cover, and lower the heat
              to medium.
            </li>
            <li class="step-item">
              Steam the dumplings for about 8 minutes, listen for the water. If
              you hear the dumplings start making more noise, add a little more
              water.
            </li>
            <li class="step-item">
              Remove lid and ensure all the water is boiled off. This is where I
              added more butter to crisp up the outside.
            </li>
            <li class="step-item">
              Once the dumplings are crispy, remove and serve with sour cream,
              hot sauce, and vinegar.
            </li>
          </ol>
        </div>

        
      </section>
    </main>
    <footer>
 
      </ul>
    </footer>
  </body>
</html>
